@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  background-color: #fffcf2;
}

h1 {
  font-family: "Cormorant Garamond", serif;
}

/* Projects hover effect */
.project-container:hover .project-image {
  opacity: 0.2;
}

.project-container:hover .project-details {
  opacity: 1;
}

.project-container:hover .project-details__text {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* test button */
.btn {
  display: inline-flex;
  height: 35px;
  width: 80px;
  border: 1px solid black;
  color: black;
  background-color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.btn a {
  color: #fffcf2;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.5s ease-out;
}

.circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fffcf2;
  position: absolute;
  transition: all 0.7s ease-out;
  top: 20px;
  left: 40px;
}

.btn:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -40px;
}

.btn:hover a {
  color: black;
}
