@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgColor font-sans;
  }
  h1 {
    @apply font-display;
  }
}

@layer components {
  .skills-icons-size {
    @apply w-20 h-20;
  }
  .skills-icons-container {
    @apply flex flex-col items-center gap-y-2
  }
}

/* Projects hover effect */
.project-container:hover .project-image {
  opacity: 0.2;
}

.project-container:hover .project-details {
  opacity: 1;
}

.project-container:hover .project-details__text {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
